# Git

.gitattributes


# Gradle

.gradle
bin
build
logs
run
src/generated/resources/.cache


# VSCode

.vscode


# IntelliJ Idea

.idea
*.iml
*.ipr
*.iws
src/test


# Eclipse

.project
*.launch

# MacOS

.DS_Store


# Windows

desktop.ini
